@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
	content: "\ea36";
	text-align: center;
}

.icon-pause:before {
	content: "\ea1d";
	text-align: center;
}

.icon-stop:before {
	content: "\ea1e";
	text-align: center;
}

.icon-github:before {
	content: "\eab0";
	text-align: center;
}

.icon-wordpress:before {
	content: "\eab4";
	text-align: center;
}

.icon-wait:before {
	content: "\e979";
	text-align: center;
}

.icon-smile:before {
	content: "\e900";
	text-align: center;
}