@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, button {
  font-family: "Roboto", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-width: 340px;
  position: relative;
  transition:min-width 1000ms;
}

body.wide {
  min-width: 800px;
  transition:min-width 1000ms;
}

form {
  padding: 5px;
  font-size: 1.2rem;
}

form legend {
  text-align: center;
}

form input:focus {
  outline: none;
}

form input[type=text] {
  box-sizing: border-box;
  width: 100%;
}

form input[type=number] {
  width: 4.5rem;
}

form select {
  vertical-align: bottom;
  height: 2rem;
  min-width: 200px;
  max-width: 200px;
}

form .container {
  display: flex;
  margin-bottom: 0.5em;
  justify-content: center;
}
form .container .row {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
form .container .row:last-child {
  margin-right: 0;
}
form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

form .fontSpacing {
  margin-top:5px;
}

form div .sampleText {
  overflow: auto;
  border: 1px dotted gray;
  margin-top: 5px;
  resize: vertical;
  width: 100%;
  height: 150px;
}

dl {
  margin: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-inline-start: 10px;
}

ol {
  margin-block-start: 2px;
  margin-block-end: 2px;
  padding-inline-start: 15px;
}

label {
  user-select: none;
}

label:focus {
  outline: none;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  height: 2.0rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tabSwitch {
  display: none;
}
.tabLabel {
  position: relative;
  display: block;
  line-height: 1.8rem;
  height: 2.1rem;
  padding: 1px 8px;
  background: darkgray;
  border-right: 1px solid gray;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tabLabel:hover {
  top: -2px;
  transition: top 0.25s;
  height: 2.2rem;
}
.tabContent {
  position: absolute;
  z-index: -1;
  top: 1.9rem;
  left: 0;
  padding: 6px;
  background: #fff;
  display: none;
  transition: all 0.35s;
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 5px;
}
.tabSwitch:checked + .tabLabel {
  background: #fff;
  color: #000;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  transition: all 0.35s;
  z-index: 3;
  top: -1px;
}
.tabSwitch:checked + label + .tabContent {
  z-index: 2;
  display: block;
  transition: all 0.35s;
}

#loading {
  position: absolute;
  top: 0;
  left: 5px;
}
#loading span {
  color: red;
  font-size:12px;
  font-weight: bold;
}

/* Tooltip container */
.tooltip {
  font-size: 1.2rem;
  color: blue;
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #fff;
  color: #000;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  filter: drop-shadow(2px 2px 2px #000);
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .left {
  top: -5px;
  right: 105%;
}

.tooltip .righttop {
  top: -100px;
}

.tooltip .wide {
  width: 300px;
}

textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  overflow: scroll;
  white-space: nowrap;
  resize: vertical;
}

#replaceRegexErr,
#customCssErr
{
  color: red;
  border: 2px solid red;
  padding: 2px;
  font-size:12px;
  cursor: pointer;
}

div.flex-split {
  display: flex;
  align-items: stretch;
}

.flex-split label {
  font-size: 12px;
  width: 30%;
}

.flex-split div.right {
  font-size: 12px;
  text-align: right;
  width: 70%
}

p.icon-wrapper {
  margin: 0;
  font-size: 4rem;
  line-height: 0;
}

#councils {
  border:2px solid #ccc;
  width:100%;
  box-sizing: border-box;
  height: 100px;
  margin-bottom: 8px;
  overflow-y: scroll; 
  display: none;
  resize: both;
}

#schedules {
  border:2px solid #ccc;
  width:100%;
  box-sizing: border-box;
  height: 100px;
  margin-bottom: 8px;
  overflow-y: scroll;
  display: none;
  resize: both;
}

.group-title {
  margin: 0px 0 2px 0px;
  border-bottom: 1px solid #143742;
  background-color: #307e96;
  color: white;
  padding: 2px 0px 1px 5px;
  font-weight: bold;
}

.council-title {
  margin: 0px 0 2px 0px;
  border-bottom: 1px solid #2c2c2c;
  background-color: #808080;
  color: white;
  padding: 2px 0px 1px 5px;
  font-weight: bold;
}

#check {
  padding: 1em;
}

button {
  outline: none;
  background: #9b0f0f;
  border: none;
  border-bottom: 0.4em solid #710000;
  width: 100%;
  margin: 5px auto 0 auto;
  color: white;
  padding: 1.2rem 1.2rem 0.2rem 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.toggler {
  cursor: pointer;
  color: blue;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-city {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.select-city select {
  height: 24px;
  font-size:12px;
}

.select-city input {
  font-size: 12px;
}

